.StarInput input {
  position: absolute;
  top: -200vh;
  left: -200vw;
  visibility: hidden;
}

.StarInput label::before {
  content: "\e838";
  color: var(--primary-500);
  cursor: pointer;
  font-variation-settings: 'FILL' 1;
}

.StarInput input:checked ~ label::before {
  font-variation-settings: 'FILL' 0;
}
